*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#about{
    align-items: center;
}
.container h1{
    font-style: normal;
}
header img{
    width: 12%;
}
.porsche-911,
.panamera{
    background-color: rgb(0, 0, 0);
    border-color: rgba(255, 255, 255, 0.151);
    border-width: 1px;
    border-style:groove;
    padding: 100px;
}
.porsche-911 div video{
    display:flow-root;
}
.porsche-video,
.panamera-video{
    padding-left: 20px;
    max-width: 50%;
    border-radius: 80px;
}
.container .panamera{
    display: inline;
}
header,
section h2,
section h3,
form button{
    font-family: '911 Porscha', sans-serif;
    font-weight: 1;
}
.c911 p{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}
svg{
    fill: white;
}
.c911 svg{
    padding: 24px;
    width: 100%;
}
.panamera1 p{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
}
.cpanamera svg{
    padding: 24px;
    width: 50%;
}
.car-images{
    display: flex;
    margin: auto;
    text-align: center;
    gap: -20px;
    background-color: rgba(0, 0, 0, 0.753);
}
.car-images img{
    border-radius: 10px;
    box-sizing:border-box;
    max-width: 50%;
}
.logo-p{
    cursor: pointer;
}
body,
input,
textarea{
    font-family: "Roboto", sans-serif;
}
header{
    padding: 16px 0;
    background-color: rgb(41, 77, 77);
    color: rgb(240, 255, 255);
}
header h1,
section h2{
    font-weight: normal;
}
header nav li{
    display:inline;
    margin-left: 16px;
    color: aliceblue;
    font-size: 18px;
}
header nav li a{
    color: aliceblue;
    text-decoration: none;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.brands-list img{
    height: 24px;
}
.brands-list li{
    margin-right: 8px;
    display: inline;
}
section .container{
    align-items: flex-start;
}
section{
    padding: 24px 0;
}
section h2{
    color: rgb(41, 77, 77);
    margin-bottom: 16px;
}
section{
    color: rgb(41, 77, 77);
}
section p{
    margin-bottom: 8px;
}
.store-front{
    margin-right: 16px;
}
.social-links img{
    height: 48px;
}
.social-links li{
    display: inline;
    margin-right: 8px;
}
.social-links li a{
    text-decoration: none;
}
#contact .container{
    display: block;
}
.contact-method{
    display: flex;
    justify-content: space-between;
}
form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}
form textarea{
    border-radius: 10px;
    resize: none;
    height: 180px;
}
.button-more{
    font-family: "Roboto", sans-serif;
    padding: 10px;
    margin-left: 50px;
    margin-top: 50px;
    cursor: pointer;
    background-color: rgb(41, 77, 77);
    border-style: none;
    border-radius: 10px;
}
section h3{
    margin-bottom: 16px;
}
form button{
    background-color: rgb(41, 77, 77);
    color: white;
    border-style: none;
    border-radius: 10px;
    cursor: pointer;
}
form button:hover{
    background-color: rgb(21, 29, 29);
}
input:focus textarea:focus{
    outline-color: rgb(41, 77, 77);
}
footer{
    font-family: '911 Porscha', sans-serif;
    text-align: center;
    background-color: rgb(41, 77, 77);
    color: white;
    padding: 16px 0;
}